<!--<ng-include src="'encabezado.html'" ng-init="name = ['productos','listar']"></ng-include>-->
<section class="content">
        <div class="row">
            <div class="col-md col-sm col-xs-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Administradores del Sistema</h3>
                        <!--                    <div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>-->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table ng-table="tableParams" class="table no-margin table-bordered table-striped" show-filter="true">
                                <tr ng-repeat="administrador in $data">
                                    <td data-title="'Nombre'" filter="{ name: 'text'}" sortable="'name'">
                                        <span >{{administrador.name}}</span>
                                    </td>
                                    <td data-title="'Apellido'" filter="{ surname: 'text'}" sortable="'surname'">
                                        <span >{{administrador.surname}}</span>
                                    </td>

                                    <td data-title="'Nombre de Usuario'" filter="{ username: 'text'}" sortable="'username'">
                                        <span >{{administrador.username}}</span>
                                    </td>
                                    <td data-title="'Acciones'">
                                        <a ng-click="actualizar(administrador.username)" class="btn btn-small btn-warning">Modificar</a>
                                        <a ng-click="eliminar(administrador)" class="btn btn-small btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>