
<!--
<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>
  <meta charset="utf-8">
  <title>AngularJS UI Tree demo</title>

    <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">
    Stylesheets -->
  <!--<link rel="stylesheet" href="AngularJS%20UI%20Tree%20demo%20Archivos/demo.css">

  <link rel="stylesheet" type="text/css" href="AngularJS%20UI%20Tree%20demo%20Archivos/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">


</head>

  -->

  <div class="container ng-scope" ng-controller="groupsCtrl">
    <h1 class="page-header">Angular UI Tree - Groups &amp; Categories</h1>
    <a href="https://jimliu.github.io/angular-ui-tree/index.html"><i class="glyphicon glyphicon-chevron-left"></i> Back to overview page</a>

    <div class="row">
      <div class="col-lg-6 ng-scope angular-ui-tree" ui-tree="options">
        <h3>Groups &amp; Categories</h3>
        <ol class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes" ui-tree-nodes="" ng-model="groups" data-type="group">
          <!-- ngRepeat: group in groups --><li collapsed="false" class="ng-scope angular-ui-tree-node" ng-repeat="group in groups" ui-tree-node="">
            <div class="group-title angular-ui-tree-handle" ng-show="!group.editing">
              <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag="" ng-click="removeGroup(group)"><i class="glyphicon glyphicon-remove"></i></a>
              <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag="" ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>
              <div class="ng-binding">&nbsp;{{group.nombre}}</div>
            </div>
            <div class="group-title angular-ui-tree-handle ng-hide" data-nodrag="" ng-show="group.editing">
              <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                  <label class="sr-only" for="groupName">Group name</label>
                  <input value="asdasdas" class="form-control ng-pristine ng-valid" placeholder="Group name" ng-model="group.name" type="text">
                </div>
                <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">Save</button>
                <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">Cancel</button>
              </form>
            </div>
            <ol class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes" ui-tree-nodes="" ng-model="group.categories" data-type="category">
              <!-- ngRepeat: category in group.categories --><li collapsed="false" class="ng-scope angular-ui-tree-node" ng-repeat="category in group.categorias" ui-tree-node="">
                <div class="category-title angular-ui-tree-handle">
                  <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag="" ng-click="removeCategory(group, category)"><i class="glyphicon glyphicon-remove"></i></a>
                  <div class="ng-binding">
                      {{category.nombre}}
                  </div>
                </div>
              </li><!-- end ngRepeat: category in group.categories -->
            </ol>
            <ol class="angular-ui-tree-nodes" data-nodrag="">
              <li class="angular-ui-tree-node">
                <div class="category-title angular-ui-tree-handle">
                  <form class="form-inline ng-pristine ng-valid" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="categoryName">Category name</label>
                      <input class="form-control ng-pristine ng-valid" ng-model="group.newCategoryName" placeholder="Category name" type="text">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="addCategory(group)">Add Category</button>
                  </form>
                </div>
              </li>
            </ol>
          </li><!-- end ngRepeat: group in groups -->
        </ol>
        <ol class="angular-ui-tree-nodes">
          <li class="angular-ui-tree-node">
            <div class="group-title angular-ui-tree-handle">
              <form class="form-inline ng-pristine ng-valid" role="form">
                <div class="form-group">
                  <label class="sr-only" for="groupName">Group name</label>
                  <input class="form-control" id="groupName" placeholder="Group name" type="text">
                </div>
                <button type="submit" class="btn btn-default" ng-click="addGroup()">Add Group</button>
              </form>
            </div>
          </li>
        </ol>
      </div>

      <div class="col-lg-6">
        <h3>Data binding</h3>
        <div class="info ng-binding">
          
        </div>
        <pre class="code ng-binding">[
  {
    "categories": [
      {
        "name": "ghjghj",
        "sortOrder": 0,
        "type": "category"
      },
      {
        "name": "dasd",
        "sortOrder": 5,
        "type": "category"
      },
      {
        "name": "sds",
        "sortOrder": 1,
        "type": "category"
      },
      {
        "name": "sege",
        "sortOrder": 3,
        "type": "category"
      },
      {
        "name": "ssssss",
        "sortOrder": 4,
        "type": "category"
      }
    ],
    "name": "asdasdas",
    "sortOrder": 1,
    "type": "group",
    "id": "-K19uZGCnGRXwjaXkLbq",
    "editing": false
  },
  {
    "categories": [
      {
        "name": "sdas",
        "sortOrder": 4,
        "type": "category"
      },
      {
        "name": "asdasdasdasdasd",
        "sortOrder": 6,
        "type": "category"
      },
      {
        "name": "xc",
        "sortOrder": 2,
        "type": "category"
      },
      {
        "name": "zz",
        "sortOrder": 3,
        "type": "category"
      }
    ],
    "name": "dgs",
    "sortOrder": 2,
    "type": "group",
    "id": "-K19wLjfV3bmQNGYZcEM",
    "editing": false
  },
  {
    "categories": [
      {
        "name": "asasas",
        "sortOrder": 0,
        "type": "category"
      },
      {
        "name": "kjn",
        "sortOrder": 2,
        "type": "category"
      },
      {
        "name": "asass",
        "sortOrder": 1,
        "type": "category"
      }
    ],
    "name": "TEST",
    "sortOrder": 3,
    "type": "group",
    "id": "-K1AsSIVsWUwApNN_vJ1",
    "editing": false
  },
  {
    "name": "zczz",
    "sortOrder": 4,
    "type": "group",
    "id": "-K1Av4mJVBc1sbV_ZL7-",
    "editing": false,
    "categories": []
  }
]</pre>
      </div>
    </div>

  </div>
  <!--<script type="text/javascript" src="AngularJS%20UI%20Tree%20demo%20Archivos/groups.js"></script>

  <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="AngularJS%20UI%20Tree%20demo%20Archivos/firebase.js"></script>
  <script src="AngularJS%20UI%20Tree%20demo%20Archivos/angularfire.js"></script>
  -->
