<div>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="book in $data">
            <td data-title="'Autor'">
                <span ng-if="!book.$edit">{{book.nombre}}</span>
                <div ng-if="book.$edit"><input class="form-control" type="text" ng-model="book.nombre" /></div>
            </td>
            <td data-title="'Título'" width="200">
                <span ng-if="!book.$edit">{{book.descripcion}}</span>
                <div ng-if="book.$edit"><input class="form-control" type="text" ng-model="book.descripcion" /></div>
            </td>
            <td data-title="'ISBN'" width="200">
                <span ng-if="!book.$edit">{{book.isbn}}</span>
                <div ng-if="book.$edit"><input class="form-control" type="text" ng-model="book.isbn" /></div>
            </td>
            <td data-title="'Actions'" width="200">
                <a ng-if="!book.$edit" href="" class="btn btn-default btn-xs" ng-click="book.$edit = true">Edit</a>
                <a ng-if="book.$edit" href="" class="btn btn-primary btn-xs" ng-click="book.$edit = false; save(book)">Save</a>
            </td>
        </tr>
    </table>
</div>
