<section class="content-header">
    <!--    <h1>
            Page Header
            <small>Optional description</small>

            <h6>Tiendas lo incluyen</h6>

            <span class="product-title">{{productoMasUtilizado.nombre}}</span>
        </h1>-->

    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="small-box bg-aqua info-box">
                <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="info-box-content">
                    <h4>Producto genérico más utilizado:{{productoMasUtilizado.nombre}}</h4>
                    <h3>{{productoMasUtilizado.cantidad_tiendas}}</h3>
                    <h4>Tiendas lo incluyen</h4>
                </div>
                <a href="/#/reportes/prodgenerico" class="small-box-footer">
                    Ver más <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow info-box">
                <div class="icon">
                    <i class="ion ion-ios-people-outline"></i>
                </div>
                <div class="info-box-content">
                    <h4>Cantidad de cuentas Premium</h4>
                    <h3>{{cantPremium}}</h3>
                    <h6></h6>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{proporcionPremium}}%"></div>
                    </div>
                <span class="progress-description">
                  Proporción: {{(proporcionPremium| number:2)*1}}%
                </span>
                </div>
                <a href="/#/reportes/reportes-registrados" class="small-box-footer">
                    Ver todas las cuentas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div><!-- /.row -->


    <!--        <ol class="breadcrumb">
                <li><a  ><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>-->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md col-sm col-xs-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Promover Productos </a></li>
                    <li><a href="#tab_2" data-toggle="tab">Cuentas por expirar</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Movimientos realizados por usuario</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table ng-table="tableParamsRecomendados" class="table no-margin table-bordered table-striped" show-filter="true">
                                    <tr ng-repeat="producto in $data">
                                        <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                                            <span >{{producto.nombre}}</span>
                                        </td>
                                        <td data-title="'Cantidad de Almacenes'" filter="{ cantidad: 'number'}" sortable="'cantidad'">
                                            <span >{{producto.cantidad}}</span>
                                        </td>
                                        <td data-title="'Descripción'">
                                            <div class="form-group">
                                                <select class="form-control" theme="bootstrap" ng-disabled="disabled" reset-search-input="false"
                                                        style="width: 100px;" ng-model="productoNuevo.descripcion"
                                                        ng-options="descripcion for descripcion in producto.descripciones_sug">
                                                </select>
                                                <!--<ui-select ng-model="descripcion.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
                                                    <ui-select-match placeholder="Selecciona una descripción">{{$select.selected}}</ui-select-match>
                                                    <ui-select-choices repeat="descripcion in producto.descripciones_sug | filter: $select.search">
                                                        <span ng-bind-html="descripcion | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>-->
                                            </div>
                                        </td>
                                        <td data-title="'Categoría'">
                                            <ui-select ng-model="selectedItem"  theme="bootstrap" ng-disabled="disabled" reset-search-input="false"
                                                       style="width: 100px;" ng-model="productoNuevo.descripcion">
                                                <ui-select-match>
                                                    <span ng-bind="$select.selected.nombre"></span>
                                                </ui-select-match>
                                                <ui-select-choices repeat="item in (categorias | filter: $select.search) track by item.id">
                                                    <span ng-bind="item.nombre"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td data-title="'Acciones'">
                                            <a ng-click="promover(producto)" class="btn btn-small btn-success">Promover</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.table-responsive

                                        <td data-title="'Tipo'" filter="{isgenerico: 'bool'}" sortable="'isgenerico'">
                                            <span ng-if="!producto.isgenerico" class="label label-danger">Genérico</span>
                                            <span ng-if="producto.isgenerico" class="label label-danger">Específico</span>
                                        </td>-->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table ng-table="notiftableParams" class="table no-margin" ng-hide="notificaciones.length === 0">
                                    <tr ng-repeat="notificacion in $data">
                                        <td data-title="'Nombre de Usuario'">
                                            <span >{{notificacion.usuario}}</span>
                                        </td>
                                        <td data-title="'Tipo de cuenta'">
                                            <span >{{notificacion.alias_cuenta}}</span>
                                        </td>

                                        <td data-title="'Fecha de expiración'" >
                                            <span >{{notificacion.expira | date:'yyyy-MM-dd'}} </span>
                                        </td>
                                        <td data-title="'Acciones'">
                                            <a ng-click="notificar(notificacion)" class="btn btn-small btn-danger">Notificar</a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="alert alert-warning alert-dismissible" ng-show="notificaciones.length === 0">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i>No hay cuentas para notificar</h4>
                                    No hay ninguna cuenta de usuario que esté por expirar.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table ng-table="tableParams" class="table no-margin table-bordered table-striped" show-filter="true">
                                    <tr ng-repeat="movimiento in $data">
                                        <td data-title="'Almacen'" filter="{ almacen_nombre: 'text'}" sortable="'almacen_nombre'">
                                            <span >{{movimiento.almacen_nombre}}</span>
                                        </td>

                                        <td data-title="'Nombre de producto'" filter="{ producto_nombre: 'text'}" sortable="'producto_nombre'">
                                            <span >{{movimiento.producto_nombre}} </span>
                                        </td>
                                        <td data-title="'Movimiento'" filter="{ class: 'text'}">
                                            <span ng-if="movimiento.stock == 0" class="label label-danger">Eliminar</span>
                                            <span ng-if="movimiento.diferencia == 0" class="label label-primary">Modificar</span>
                                            <span ng-if="movimiento.stock == movimiento.diferencia" class="label label-info">Nuevo</span>
                                            <span ng-if="(movimiento.stock != movimiento.diferencia) && movimiento.diferencia > 0" class="label label-success">Compra</span>
                                            <span ng-if="movimiento.stock != 0 && movimiento.diferencia < 0" class="label label-warning">Consumo</span>
                                            <span >{{movimiento.id}}</span>
                                        </td>
                                        <td data-title="'Fecha'" filter="{ fecha: 'date'}" sortable="'fecha'">
                                            <span >{{movimiento.fecha  | date:'yyyy-MM-dd'}}</span>
                                        </td>
                                        <td data-title="'Stock'" filter="{stock: 'number'}" sortable="'stock'">
                                            <span >{{movimiento.stock}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
    </div>
</section><!-- /.content -->


<!--
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Promover Productos</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    &lt;!&ndash; /.box-header &ndash;&gt;
    <div class="box-body">
        <div class="table-responsive">
            <table ng-table="tableParamsRecomendados" class="table no-margin table-bordered table-striped" show-filter="true">
                <tr ng-repeat="producto in $data">
                    <td data-title="'Nombre'" filter="{ nombre: 'text'}" sortable="'nombre'">
                        <span >{{producto.nombre}}</span>
                    </td>
                    <td data-title="'Cantidad de Almacenes'" filter="{ cantidad: 'number'}" sortable="'cantidad'">
                        <span >{{producto.cantidad}}</span>
                    </td>
                    <td data-title="'Descripción'">
                        <div class="form-group">
                            <select class="form-control" ng-model="productoNuevo.descripcion" ng-options="descripcion for descripcion in producto.descripciones_sug">
                            </select>
                        </div>
                    </td>
                    <td data-title="'Categoría'">
                        <input type="text" class="form-control" id="InputCategoria" placeholder="Ingresar Categoría" ng-model="productoNuevo.categoria">
                    </td>
                    <td data-title="'Acciones'">
                        <a ng-click="promover(producto)" class="btn btn-small btn-success">Promover</a>
                    </td>
                </tr>
            </table>
        </div>
        &lt;!&ndash; /.table-responsive

                    <td data-title="'Tipo'" filter="{isgenerico: 'bool'}" sortable="'isgenerico'">
                        <span ng-if="!producto.isgenerico" class="label label-danger">Genérico</span>
                        <span ng-if="producto.isgenerico" class="label label-danger">Específico</span>
                    </td>&ndash;&gt;
    </div>
</div>
</div>-->
<!--<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Productos a promover</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    &lt;!&ndash; /.box-header &ndash;&gt;
    <div class="box-body">
        <ul class="products-list product-list-in-box">
            <li class="item">
                <div class="product-img">
                    <img src="dist/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript::;" class="product-title">Samsung TV
                        <span class="label label-warning pull-right">$1800</span></a>
                        <span class="product-description">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span>
                </div>
            </li>
            &lt;!&ndash; /.item &ndash;&gt;
            <li class="item">
                <div class="product-img">
                    <img src="dist/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript::;" class="product-title">Bicycle
                        <span class="label label-info pull-right">$700</span></a>
                        <span class="product-description">
                          26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                        </span>
                </div>
            </li>
            &lt;!&ndash; /.item &ndash;&gt;
            <li class="item">
                <div class="product-img">
                    <img src="dist/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="product-info">
                    <a href="javascript::;" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                        <span class="product-description">
                          Xbox One Console Bundle with Halo Master Chief Collection.
                        </span>
                </div>
            </li>
        </ul>
    </div>
    &lt;!&ndash; /.box-body &ndash;&gt;
    <div class="box-footer text-center">
        <a class="uppercase">View All Products</a>
    </div>
    &lt;!&ndash; /.box-footer &ndash;&gt;
</div>-->
<!-- /.box -->
<!--

</div>
<div class="row">n-->

<!-- /.col -->


<!--
<div class="box-footer clearfix">
   <a  class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
   <a  class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
</div>
<!-- Your Page Content Here -->